<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小黑云管理</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css"/>
    <script src="/static/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery-3.1.1.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/SendMessegetoSer.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/SBCManager.js" type="text/javascript" charset="utf-8"></script>


	<script type="text/javascript" src="/static/js/echarts.min.js"></script>
    <script type="text/javascript" src="/static/js/webscoketsend.js"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->

<!--    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>-->

    <style>

        tr.change:hover
        {
            background-color:#A2D9CE;
            opacity:0.5;
            width:100%;
        }
    </style>
</head>
<body id="body">


<div class='d-flex' style="height: 100vh;">
    <div class='col-1' style="background-color:#EAEDED;max-width:200px;">
        <div class="text-center" style="padding-top:100px;width:100%;">
            <label id="clickUserInfo" style="background-color:#FDFEFE;width:100%;padding-top:10px;padding-bottom:10px;cursor:pointer;">用户信息</label>
        </div>

        <div class="text-center" style="padding-top:0px;width:100%">
            <label id="clickFilesInfo" style="background-color:#EAEDED;width:100%;padding-top:10px;padding-bottom:10px;cursor:pointer;">文件信息</label>
        </div>

        <div class="text-center" style="padding-top:0px;width:100%">
            <label id="clickHardwareInfo" style="background-color:#EAEDED;width:100%;padding-top:10px;padding-bottom:10px;cursor:pointer;">后台信息</label>
        </div>

        <div class="text-center" style="padding-top:0px;width:100%">
            <label id="clickDiskInfo" style="background-color:#EAEDED;width:100%;padding-top:10px;padding-bottom:10px;cursor:pointer;">磁盘信息</label>
        </div>

    </div>


    <div class='flex-grow-1' style="background-color:#FDFEFE;overflow-y:hidden;overflow-x:hidden;">
        <div class="nav flex-column justify-content-center text-center" style="width:100%;height:100px;background-color:#138D75;">
            <label style="color:white;font-size:38px;">小 黑 云 后 台 管 理</label>
        </div>

        <div class='flex-grow-1' id="User">
            <div class="nav flex-column justify-content-center" style="height:60px;">
                <div>
                    <button type="button" class="btn btn-default btn-sm ">创建用户</button>
                </div>
                <div style="width:300px;">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="检索信息">
                        <button type="button" class="btn btn-default btn-sm ">检索</button>
                    </div>
                </div>


                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-bs-toggle="dropdown">修改信息
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li><a class="dropdown-item" href="javascript:void(0);" onclick="ModCap()">修改容量</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0);" onclick="ModPass()">修改密码</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0);" onclick="DelUser()">删除用户</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0);" onclick="SetMan()">设为管理员</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0);" onclick="SetNoMan()">设为普通用户</a></li>
                    </ul>
                </div>
            </div>

            <div>
                <table class="table">
                  <thead>
                    <tr>
                      <td scope="col" style="width:80px;cursor:pointer;" onclick="SelectAll()">全选</td>
                      <th scope="col">序号</th>
                      <th scope="col">用户名</th>
                      <th scope="col">使用情况</th>
                      <th scope="col">是否为管理员</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for userdata in UserInfo %}
                        <tr class="change">
                          <td>&nbsp;&nbsp;&nbsp;<input id={{userdata.numid}} type="checkbox" value="" /></td>
                          <th scope="row">{{userdata.numid}}</th>
                          <td>{{userdata.username}}</td>
                          <td>{{userdata.usercapacityinfo}}</td>
                          <td>{{userdata.is_superuser}}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>

        </div>

        <div class='flex-grow-1' id="Files">
            <div class="nav flex-column justify-content-center" style="height:60px;">
                <div>
                    <button type="button" class="btn btn-default btn-sm" onclick="DelFiles()">删除</button>
                </div>
                <div style="width:300px;">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="检索信息">
                        <button type="button" class="btn btn-default btn-sm ">检索</button>
                    </div>
                </div>

                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown">显示设置
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                        <li><a class="dropdown-item" href="javascript:void(0);" onclick="UpdateFiles(0)">显示用户未包含的文件</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0);" onclick="UpdateFiles(1)">显示全部</a></li>
                    </ul>
                </div>
            </div>

            <div>
                <table class="table" style="table-layout:fixed;word-break:break-all; word-wrap:break-all;">
                  <thead>
                    <tr>
                      <td scope="col" style="width:80px;cursor:pointer;" onclick="FileChosedAll()">全选</td>
                      <th scope="col" style="width:5%">序号</th>
                      <th scope="col" style="width:45%">文件名</th>
                      <th scope="col" style="width:30%">MD5</th>
                      <th scope="col" style="width:10%">文件大小</th>
                      <th scope="col" style="width:10%">文件类型</th>
                    </tr>
                  </thead>
                </table>
            </div>

            <div style="height:80vh;overflow:scroll;overflow-y:scroll;overflow-x:hidden;">
                <table class="table" style="table-layout:fixed;word-break:break-all; word-wrap:break-all;">
                     <tbody id="UserTable">
                     </tbody>
                </table>
            </div>


        </div>


        <div class='flex-grow-1 row' id="SerInfo" style="overflow-x:hidden;">
            <div class='flex-grow-1 row' style="weight:100vh;display: inline;overflow-x:hidden;">
                <table class="table" style="table-layout:fixed;word-break:break-all; word-wrap:break-all;">
                      <thead>
                        <tr>
                          <th scope="col" style="width:1%"></th>
                          <th id="Diskused" scope="col" style="height:20rem;"></th>
                          <th id="CPUused" scope="col" style=""></th>
                          <th id="Memused" scope="col" style=""></th>
                        </tr>
                      </thead>
                </table>
            </div>
            <div class='flex-grow-1 row' style="height:40vh">
                <table class="table" style="height:100%;table-layout:fixed;word-break:break-all; word-wrap:break-all;">
                      <thead>
                        <tr>
                          <th id="Netused" scope="col" style="height:100%;width:100%"></th>
<!--                          <th scope="col" style="width:50%">-->
<!--                              <div></div>-->
<!--                          </th>-->
                        </tr>
                      </thead>
                </table>
                <div>
                    <label></label>
                </div>
            </div>



        </div>


        <div class='flex-grow-1' id="DiskInfo" style="background-color:#F2F3F4">


            <div class="nav flex-column justify-content-center" style="height:60px;">

                <div style="width:50vh;">
                    <div class="input-group">
                        <label class="btn">小黑云存储路径：</label>
                        <input id="SBCsctockLabel" type="text" class="form-control" placeholder={{SBCstock.FileStock}} disabled>


                        <div class="dropdown">
                            <button type="button" onclick="ModSBCstock()" class="btn dropdown-toggle" id="dropdownMenu3" data-bs-toggle="dropdown">修改
                                <span class="caret"></span>
                            </button>
                            <ul id="ModSBCsctockul" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
                            </ul>
                        </div>

<!--                        <button type="button" class="btn btn-default btn-sm" onclick="ModSBCsctock()">修改</button>-->
<!--                        <button type="button" class="btn btn-default btn-sm ">挂载硬盘</button>-->
                        <div class="dropdown">
                            <button type="button" onclick="MountDisk()" class="btn dropdown-toggle" id="dropdownMenu4" data-bs-toggle="dropdown">挂载硬盘
                                <span class="caret"></span>
                            </button>
                            <ul id="MountDiskul" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
                            </ul>
                        </div>
                    </div>
                </div>
                <div style="width:40vh;">
                    <div style="width:20vh;float:left;">
                        <label>硬盘温度：</label>
                        <label id="TempLabel"></label>
                        <label>&nbsp;&#8451</label>
                    </div>
                    <div style="width:20vh;float:left;">
                        <label>硬盘状态：</label>
                        <label id="StateLabel" style="color:green"></label>
<!--                        <label style="color:green">良好</label>-->
                    </div>

                </div>
            </div>


            <div style="width:100%;">
                <label style="width:100%;text-align:center;font-size:16px">硬盘详细信息</label>
            </div>
            <div style="width:100%;">
                <label id="DeviceModeLabel" style="width:100%;color:blue;text-align:center;font-size:26px"></label>
                <label id="SerialNumberLabel" style="float:left;width:45%;text-align:right;font-size:16px"></label>
                <label style="float:left;width:10%;">&nbsp;</label>
                <label id="DeviceIDLabel" style="float:left;width:45%;text-align:left;font-size:16px"></label>
            </div>
            <div style="width:100%;padding-top:40px">
                <div style="float:left;width:20%;text-align:center;font-size:12px">
                    <label style="width:100%">健康状态</label>
                    <label id="HealthStateLabel" style="width:5rem;background-color:green;border-radius:7px;font-size:23px"></label>
                </div>
                <div style="float:left;width:60%;text-align:center;font-size:12px">
                    <div style="float:left;width:45%;text-align:right;font-size:12px">
                        <div style="width:100%">
                            <label>转速：</label><label id="rpmLabel"></label>
                        </div>
                        <div style="width:100%">
                            <label>已用容量：</label><label id="UsedCapLabel"></label>
                        </div>
                        <div style="width:100%">
                            <label>总容量：</label><label id="TotalCapLabel"></label>
                        </div>
                    </div>
                    <div style="float:left;width:10%;">&nbsp; </div>
                    <div style="float:left;width:45%;text-align:left;font-size:12px">
                        <div style="width:100%">
                            <label>通电小时：</label><label id="PowerTimeLabel"></label>
                        </div>
                        <div style="width:100%">
                            <label>通电次数：</label><label id="PowerCountLabel"></label>
                        </div>
                        <div style="width:100%">
                            <label>传输模式：</label><label id="SataModeLabel"></label>
                        </div>
                    </div>

                </div>
            </div>


            <div>

                <table class="table" style="table-layout:fixed;word-break:break-all; word-wrap:break-all;">
                  <thead>
                    <tr>
                      <th scope="col" style="width:5%">ID</th>
                      <th scope="col" style="width:45%">属性名称</th>
                      <th scope="col" style="width:10%">当前值</th>
                      <th scope="col" style="width:10%">历史最差值</th>
                      <th scope="col" style="width:10%">临界值</th>
                      <th scope="col" style="width:10%">原始数据</th>
                    </tr>
                  </thead>
                </table>
            </div>

            <div class="flex-grow-1" style="background-color:white;overflow-y:scroll;overflow-x:hidden;">
                <table class="table" style="table-layout:fixed;word-break:break-all; word-wrap:break-all;">
                     <tbody id="DiskTable">

                     </tbody>
                </table>
            </div>


        </div>






    </div>
</div>





<script>

DiskusedShow();
CPUusedShow();
MemusedShow();
NetWork();
 refreshData();
</script>




<script>
var FileShow = 0;
var DiskShow = 0;
var Filesall = [];
document.getElementById('Files').style.display = 'none';
document.getElementById('SerInfo').style.display = 'none';
document.getElementById('DiskInfo').style.display = 'none';


document.getElementById('clickUserInfo').addEventListener('click', function () {
   document.getElementById('Files').style.display = 'none';
   document.getElementById('User').style.display = 'block';
   document.getElementById('SerInfo').style.display = 'none';
   document.getElementById('DiskInfo').style.display = 'none';
   document.getElementById('clickUserInfo').style.backgroundColor = '#FDFEFE'
   document.getElementById('clickHardwareInfo').style.backgroundColor = '#EAEDED'
   document.getElementById('clickFilesInfo').style.backgroundColor = '#EAEDED'
},true)
document.getElementById('clickDiskInfo').addEventListener('click', function () {
   document.getElementById('clickUserInfo').style.backgroundColor = '#EAEDED'
   document.getElementById('clickHardwareInfo').style.backgroundColor = '#FDFEFE'
   document.getElementById('clickFilesInfo').style.backgroundColor = '#EAEDED'

   document.getElementById('User').style.display = 'none';
   document.getElementById('Files').style.display = 'none';
   document.getElementById('SerInfo').style.display = 'none';
   document.getElementById('DiskInfo').style.display = 'block';
   DiskHealthInfo();

},true)

document.getElementById('clickHardwareInfo').addEventListener('click', function () {
   document.getElementById('clickUserInfo').style.backgroundColor = '#EAEDED'
   document.getElementById('clickHardwareInfo').style.backgroundColor = '#FDFEFE'
   document.getElementById('clickFilesInfo').style.backgroundColor = '#EAEDED'

   document.getElementById('User').style.display = 'none';
   document.getElementById('Files').style.display = 'none';
   document.getElementById('SerInfo').style.display = 'block';
   document.getElementById('DiskInfo').style.display = 'none';
},true)


document.getElementById('clickFilesInfo').addEventListener('click', function () {
   document.getElementById('clickUserInfo').style.backgroundColor = '#EAEDED'
   document.getElementById('clickHardwareInfo').style.backgroundColor = '#EAEDED'
   document.getElementById('clickFilesInfo').style.backgroundColor = '#FDFEFE'


   document.getElementById('User').style.display = 'none';
   document.getElementById('Files').style.display = 'block';
   document.getElementById('SerInfo').style.display = 'none';
   document.getElementById('DiskInfo').style.display = 'none';
   if (FileShow==0)
   {
        UpdateFiles(1);
        FileShow = 1;
   }



},true)
</script>


<script>
function GetChoseds()
 {
    var Users = {{UserInfo|safe}};
    let Choseds = [];
    for(let i =0;i<Users.length;i++)
    {
        let chosed = document.getElementById(Users[i].numid).checked;
        if (chosed == 1)
        {
            Choseds.push(Users[i]);
        }

    }
    return Choseds;
  }
function SelectAll()
 {
    var Users = {{UserInfo|safe}};
    for(let i =0;i<Users.length;i++)
    {
        document.getElementById(Users[i].numid).checked = 1;
    }
 }

function ModCap()
{
    let Choseds = GetChoseds();
    console.log(Choseds.length);
    if (Choseds.length>=1)
    {
        let res = PostMethod('/GetSerInfo/',{},0)
        console.log(res)
        let Chosed = Choseds[0]
        let ret = prompt('修改'+Chosed.username+'的容量；'+'  总容量为：'+res.Total+'\n输入调整后的总容量（单位GB） 当前容量：'+Chosed.usercapacityinfo,'');
        if(ret !== null && ret != '') {
　　         ModCap = ret;
            let res = PostMethod('/ModCap/',{'ModCap':ret,'user':Chosed.username},0)
            location.replace(location.href);

        }

    }
    else
    {return}
}

</script>


</body>
</html>