<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小黑云</title>

    <style>
        div.changediv:hover
        {
            background-color:#A2D9CE;
            opacity:0.5;
            width:100%;
        }

         div.unchangediv:hover
        {
            background-color:#FBFCFC;
            opacity:0.9;
            width:100%;
        }

        tr.change:hover
        {
            background-color:#A2D9CE;
            opacity:0.5;
            width:100%;
        }

        .div
        {
            position:fixed;
            width: 100%;
            height: 100%;
        }
       .div2
          {
            color: black;
            width: 79%;
            height: 100%;
            border:1px solid #0ba;
            float:left;
          }
        .div1
            {
               background-color: #ADADAD;
               color: red;
               width: 20%;
               height: 100%;
               border:1px solid #0ba;
               float:left;
            }

        .container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        .Updetail {
            position: fixed;	        /* 设置fixed固定定位 */
            bottom: 20px;		/* 距离浏览器窗口下边框20px */
            right: 50px;		/* 距离浏览器窗口右边框20px */
        }
        #drop-down ul {
        display: none;
        }
        /*显示二级菜单*/
        #drop-down:hover ul {
        display: block;
        }
    </style>

<!--<script src="https://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.2.min.js"></script>-->
    <!--<script src="https://code.jquery.com/jquery-3.1.1.js"></script>-->
    <script src="/static/js/Upfiles.js"></script>
    <script src="/static/js/jquery-3.1.1.js"></script>
    <script src="/static/js/spark-md5.min.js"></script>
    <script src="/static/js/SendMessegetoSer.js"></script>
    <script src="/static/js/Refresh.js"></script>
    <script src="/static/js/DelFiles.js"></script>
    <script src="/static/js/ReName.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/spark-md5/3.0.0/spark-md5.min.js"></script>-->

</head>
<body>

<div class="div" id="div">

    <div class="div1" id="div1">

    </div>

    <div style="height:10%;width:100%;background-color:white;">
        <div style="display: flex;flex-wrap: wrap;position:relative;left:20px;top:36px;">
            <div style="background-color:white">
                <button id="downbutton" value="下载" style="width:50px;height:30px;border-radius:5px;background-color:white;color:blue;" onclick="DownFiles()">
                    下载
                </button>
            </div>
            &nbsp;
            <div id="UpCom">
                <input type="file" id="SelectFiles" style="display:none" multiple="multiple" onchange="onChange(event)" />
                <!--<input type="file" name="files" multiple="multiple" id="upbutton" value="上传">-->
                <button id="UP" value="上传" style="width:50px;height:30px;border-radius:5px;background-color:white;color:blue;" onclick="document.getElementById('SelectFiles').click()">上传</button>
            </div>
            &nbsp;
            <div>
                <button style="width:50px;height:30px;border-radius:5px;background-color:white;color:blue;" onclick="DelFiles0()">
                    删除
                </button>
            </div>
            &nbsp;
            <div>
                <button style="width:60px;height:30px;border-radius:5px;background-color:white;color:blue;" onclick="NewName()">
                    重命名
                </button>
            </div>
            <!--&nbsp;-->
            <!--<div id="drop-down">-->
                <!--<p><button style="width:60px;height:30px;border-radius:5px;background-color:white;color:blue;">更多</button></p>-->
                  <!--<ul>-->
                    <!--<li>二级菜单</li>-->
                    <!--<li>二级菜单</li>-->
                  <!--</ul>-->
            <!--</div>-->
        </div>

    </div>

    <div class="div2" id="ShowMain">
        <!--<div style="height:10%;width:100%;background-color:white;">-->
             <!--<button type="submit" id="signbutton">Sign In</button>-->
        <!--</div>-->
        <div class="container" id="navlist" style="height:4%;">
            {% for navi in navlist %}
                {% if navi.path == navlastpath %}
                    <div>
                        <label style="display:none;" id="CurPath">{{navi.path}}</label>
                        <a id={{navi.path}} style="color:#000000;font-size:15px;text-decoration:none;">&ensp;{{navi.navname}}</a>
                    </div>
                {% else %}
                    <div>
                        <a id={{navi.path}} style="color:#C0C0C0;font-size:15px;text-decoration:none;" href="javascript:void(0);" onclick="RefreshFiles(this)">&ensp;{{navi.navname}}</a>
                    </div>
                    <div>
                        <span id={{navi.path}}00 style="color:#C0C0C0;font-size:15px;">&ensp;&gt;</span>
                    </div>
                 {% endif %}
            {% endfor %}
        </div>
        <div style="border-bottom:1px solid #CCC"></div>
        <div class="container" style="height:2.9%;width:100%;">
            <label style="display:block;width:58%;height:100%;color:Gray;">文件名</label>
            <label style="display:block;width:15%;height:100%;color:Gray;">大小</label>
            <label style="display:block;width:25%;height:100%;color:Gray;">修改日期</label>
        </div>
        <div style="border-bottom:1px solid #CCC"></div>

        <div style="overflow:scroll;height:84.5%;width:100%;">
            <div id="FilesData">
                {% for filedata in data %}
                    <table width="100%" border="0" style="width:100%;">

                        <tr class="change">
                            <td style="width:2%;">
                                <div>
                                    <input name={{filedata.filelj}} id={{filedata.filelj}}Choseboxone type="checkbox" value="" />
                                </div>
                            </td>
                            <td style="width:98%;" id={{filedata.filelj}}Chosebox onclick="Chosebox(this)">
                                <!--<div style="width:2%">-->
                                    <!--<input name={{filedata.filelj}} id={{filedata.filelj}}Choseboxone type="checkbox" value="" />-->
                                <!--</div>-->
                                <!--&nbsp;-->
                                <div class="container" style="width:100%">
                                    <div class="container" style="width:6%">
                                        <!--<input name={{filedata.filelj}} id={{filedata.filelj}}Choseboxone type="checkbox" value="" onclick="Chosebox(this)" />&nbsp;-->
                                        <img src={{filedata.imgpath}} width="80%">
                                    </div>
                                    <div style="width:50%;">
                                        <div class="container" id={{filedata.filelj}}ReName style="display:none;height:100%;">
                                            <textarea id={{filedata.filelj}}ReNameText name={{filedata.filename}} wrap='off' rows="1" cols="100" style="font-size:20px;width:60%;overflow-x:hidden">{{filedata.filename}}</textarea>
                                            <!--&nbsp;-->
                                            <div class="container" style="margin-left:3px;border:1px solid #000;width:26px;height:26px;border-radius:3px;background-color:white;">
                                                <button id={{filedata.filelj}}ReNameSure name={{filedata.filelj}} onclick="ReNameAct(this)"></button>
                                             </div>

                                            <!--<button id={{filedata.filelj}}ReNameSure name={{filedata.filelj}} onclick="ReNameAct(this)"></button>-->
                                            <!--&nbsp;-->
                                            <div class="container" style="margin-left:3px;border:1px solid #000;width:26px;height:26px;border-radius:3px;background-color:white;">
                                                <button id={{filedata.filelj}}ReNameCancel name={{filedata.filelj}} onclick="ReNameCancel(this)"></button>
                                            </div>
                                        </div>

                                        <a id={{filedata.filelj}} style="color:black;font-size:20px;text-decoration:none;" href="javascript:void(0);" onclick="RefreshFiles(this)">
                                            {{filedata.filename}}
                                        </a>
                                    </div>
                                    <div style="width:40%;color:Gray;" class="container">
                                        <div style="width:38%;color:Gray;">
                                            <label>
                                                {{filedata.big}}
                                            </label>
                                        </div>
                                        <div style="width:62%;color:Gray;">
                                            <label>
                                                {{filedata.date}}
                                            </label>
                                        </div>
                                    </div>

                                </div>
                            </td>
                        </tr>
                    </table>
                    <div style="border-bottom:1px solid #CCC"></div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

<div class="Updetail" id="Updetails" style="display:none;border-radius:10px;border:3px solid #ECF0F1;width:420px;background-color:#FDFEFE">
    <div class="changediv" style="height:50px;" onclick="FolderUpDetail()">
        <!--<br>-->
        <label id="UpdetailsTitle" style="text-align: center;height:100%;width:100%;line-height:50px"></label>
    </div>
    <div style="border-bottom:1px solid #CCC"></div>
    <div id="UpDetailContent">
        <div style="overflow:hidden;height:420px;width:100%;">
            <div id="UpList" style="width:100%;">
                <!--<div style="width:100%"><label>abc.pdf</label></div>-->
                <!--<div style="width:100%" class="container">-->
                    <!--<progress value= '70'  max= '100' style="width:60%"></progress>-->
                    <!--<label style="font-size:12px;color:Gray;">2 MB/32 MB</label>-->
                    <!--&nbsp;-->
                    <!--<label style="font-size:12px;color:Gray;">3MB/s</label>-->
                <!--</div>-->
            </div>
        </div>

        <div style="width:100%;">
            <a style="display: inline-block;text-align: center;width:100%;color:black;font-size:15px;text-decoration:none;" href="javascript:void(0);" onclick="FolderUpDetail()">
                收起
            </a>
        </div>

    </div>
</div>



<script src="/static/js/Down.js"></script>



<script>
    var files = {{data|safe}};
    <!--for(var i =0;i<files.length;i++)-->
    <!--{-->
        <!--var feid = files[i].filelj+"ReNameText";-->
        <!--$('#'+feid).on("keydown",function(event){-->
        <!--var keyCode = event.keyCode || event.which;-->
        <!--if(keyCode == "13"){-->
            <!--//event.preventDefault();-->
            <!--console.log(66);-->
        <!--}-->
        <!--});-->
    <!--}-->
</script>


<script>
    function Chosebox(act)
    {
        var ChoseBoxId = act.id;
        if(ChoseBoxId.indexOf("Chosebox") != -1)
        {
            <!--console.log(ChoseBoxId.split("Chosebox")[0]);-->
            var BoxName = ChoseBoxId.split("Chosebox")[0];
            document.getElementsByName(BoxName)[0].checked=true;
            <!--if(document.getElementsByName(BoxName)[0].checked==true)-->
            <!--{-->
                <!--document.getElementsByName(BoxName)[0].checked=false;-->
            <!--}-->
            <!--else-->
            <!--{-->
                <!--document.getElementsByName(BoxName)[0].checked=true;-->
            <!--}-->
        }
        else
        {
            var BoxName = act.name;
            <!--document.getElementsByName(BoxName)[0].checked=true;-->
            <!--console.log(BoxName);-->
            if(document.getElementsByName(BoxName)[0].checked==true)
            {
                document.getElementsByName(BoxName)[0].checked=false;
            }
            else
            {
                document.getElementsByName(BoxName)[0].checked=true;
            }
        }

    }
</script>

<script>
    var Folderact = 0;
    function FolderUpDetail()
    {
        if(Folderact == 0)
        {
            document.getElementById("UpDetailContent").style.display="none";
            Folderact = 1;
        }
        else
        {
            document.getElementById("UpDetailContent").style.display="";
            Folderact = 0;
        }
    }
</script>

<!--<div style="display:none">-->
    <!--<form action="/FileDown/" id="down" method="post">-->
        <!--<input type="text" name="downinfo" id="downpaths">-->
        <!--<button type="submit" id="downbuton"></button>-->
    <!--</form>-->
<!--</div>-->


<script>
    function NewName()
    {
        var files = {{data|safe}};
        Rename(files);
    }
</script>
<script>
    function DelFiles0()
    {
        var files = {{data|safe}};
        DelFiles(files);
    }
</script>
<script>
    function DownFiles()
    {
        var files = {{data|safe}};
        var ChoseFileLen = FindCheckdown(files).length;
        if (ChoseFileLen < 1)
        {return;}

        if(ChoseFileLen>1)
        {
            DownFilebyGet(files);
            return;
        }
        DownFilebyPost(files);
        <!--document.getElementById("downbutton").disabled = true;-->
    }
</script>

<script>

    function RefreshFiles1(act)
    {
        var encodeurl = encodeURIComponent(act.id)
        var cururl = 'http://'+window.location.host+'/RefreshFiles/';
        $("#ShowMain").load(cururl,{"ids": encodeurl});

        var stateObject = {};
        var title = "小黑云";
        var newUrl = "/?path="+encodeurl;
        history.pushState(stateObject,title,newUrl);


        <!--$.ajax({-->
        <!--async: false,-->
        <!--type: "POST",-->
        <!--url: '/test/',-->
        <!--data: {"ids": act.id},-->
        <!--dataType: "json",-->
        <!--success: function () { },-->
        <!--error: function () { },-->
        <!--complete: function () {-->
        <!--$("#FilesData").load(cururl,datas);-->
        <!--}-->
        <!--})-->
    }
</script>




</body>
</html>