<html >
<head>
<meta charset="utf-8"/>
<title>change</title>
<style type="text/css">
  tr.change:hover
  {
    background-color:#DCDCDC;
    opacity:0.5;
  }
</style>
</head>
<body>
<h1>鼠标经停变色</h1>
<table width="80%" border="0" align="center">
  <tr class="change">
    <td style="width:100%">
      <div>
        <input name="Fruit" type="checkbox" value="" />
      </div>
    </td>
<!--    <td>&nbsp;</td>-->
  </tr>
  <tr class="change">
    <td style="width:100%">2&nbsp;</td>
  </tr>
</table>
</body>
</html>