.Homediv
{
    position:fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
	margin:0px;
}

.HomeMenudivLeft
{
    background-color: #ADADAD;
    width: 15rem;
	max-width:15rem;
    height: 100%;
    border:1px solid #0ba;
    float:left;
	margin:0px;
}

.NavandContent{
	display:flex;
	flex:1;
	flex-flow: column;
	height:100%;
	margin:0px;

}
.Content{
	flex:1;
	display:flex;
	margin:0px;
	overflow:scroll;
	overflow-y:hidden;
	
}

.HomeContent
{
	display:flex;
	flex-flow: column;
	color: black;
	
	max-width:80rem;
	height:100%;
    flex:1;
	margin:0px;
	
}



.FillContent
{
	
	background:blue;
	min-width:0rem;
	margin-left:0rem;
	margin-right:0rem;
	margin-bottom:20px;
	margin-top:20px;
	background:url('/static/img/cat.jpeg');
	background-size: 100% 100%;
}
