<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<!--<input type="button" value="发送get_ajax请求" id='btnAjax'>-->

<script type="text/javascript">

function send_ip(ip,info){
    var url = window.location.href + 'gii/?ip='+ip+'&info='+info;
    var ajaxObj = new XMLHttpRequest();
    ajaxObj.open('get',url);
    ajaxObj.send();
    <!--alert(url)-->


}

    // 绑定点击事件
    function get_ip() {
    var ip=''
        // 发送ajax 请求 需要 五步

        // （1）创建异步对象
        var ajaxObj = new XMLHttpRequest();

        // （2）设置请求的参数。包括：请求的方法、请求的url。
        url = 'http://httpbin.org/get'
        url = 'https://api.ip138.com/ipv4/?token=328df5f8c330dbe07f4166a514df617e'
        ajaxObj.open('get',url);

        // （3）发送请求
        ajaxObj.send();
        //（4）注册事件。 onreadystatechange事件，状态改变时就会调用。
        //如果要在数据完整请求回来的时候才调用，我们需要手动写一些判断的逻辑。
        ajaxObj.onreadystatechange = function () {
            // 为了保证 数据 完整返回，我们一般会判断 两个值
            if (ajaxObj.readyState == 4 && ajaxObj.status == 200) {
                // 如果能够进到这个判断 说明 数据 完美的回来了,并且请求的页面是存在的
                // 5.在注册的事件中 获取 返回的 内容 并修改页面的显示
                console.log('数据返回成功');

                // 数据是保存在 异步对象的 属性中
                console.log(ajaxObj.responseText);

                // 修改页面的显示
                var text = ajaxObj.responseText;
                <!--document.querySelector('h1').innerHTML = ajaxObj.responseText;-->
                var obj = JSON.parse(text);
                var ip = obj.ip
                var info = JSON.stringify(obj.data)
                send_ip(ip,info)
            }
        }
    }
    var ip=get_ip()
</script>
</body>
</html>